
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #313338;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: none;
}
/*

*/

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #8672f8;
  border-radius: 15px;
  box-sizing: border-box;
  color: #8672f8;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #8672f8;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.top{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score .highscore{
    font-size: 4em;
    margin-bottom: 10px;
}

.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}

.hole{
    border-radius: 50%;
    background-color: #8672f8;
    position: relative;
    overflow: hidden;
}

.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise ease-in-out;
    animation-duration: 2s;

}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    50%{
        transform: translateX(-50%) translateY(0);
    }
    100%{
        transform: translateX(-50%) translateY(100%);
    }
    
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url(sprites/bonk4.png);
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}